{% extends "layout.html" %}
{% block title %}Select Table{% endblock %}
{% block content %}
    <h1 class="title">Select Table</h1>
    <form method="POST">
      <select name="table">
        <option value="COUNTRIES">COUNTRIES</option>
        <option value="AIRLINES">AIRLINES</option>
        <option value="AIRCRAFTS">AIRCRAFTS</option>
        <option value="AIRCRAFTS">PASSENGERS</option>
        <option value="COUNTRIES">FLIGHTS</option>
        <option value="AIRLINES">BOOKINGS</option>
        <option value="AIRCRAFTS">STAFF</option>
        <option value="AIRCRAFTS">ROUTES</option>
        <option value="COUNTRIES">AIRPORTS</option>
        <option value="AIRLINES">CITY</option>
        <option value="AIRCRAFTS">COUNTRIES</option>

        <option value="test">Test</option>
      </select>
      <br><br>
      <input type="submit">
    </form>





{% endblock %}
