{% extends "layout.html" %}
{% block title %}Add country{% endblock %}
{% block content %}
    <h1 class="title">Add a country</h1>

    <form action="" method="post" name="Country add">
      <div class="field">
        <label for="name" class="label">Country Info</label>
        <div class="control">
          <input type="text" name="name" class="input" required="required"/>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Save</button>
        </div>

      </div>
    </form>
    <form action="" method="get" name="Country see">
      <div class="control">
        <a class="button is-primary is-small" href="{{ url_for('countries_page')}}" style="margin-top: 0.3cm">See All</a>
      </div>
    </form>
{% endblock %}
