{% extends "layout.html" %}
{% block title %}Add country{% endblock %}
{% block content %}
    <h1 class="title">Countries</h1>

    <form action="" method="post" name="Country add/delete">
      <div class="field">
        <label for="name" class="label">Country Info</label>
        <div class="control">
          <input type="text" name="name" class="input" style="width:30%"/>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button  type="submit" name="addDeleteShow" value="add" class="button is-primary is-small">Add</button>
        </div>
        <div class="control">
          <button  type="submit" name="addDeleteShow" value="delete" class="button is-primary is-small">Delete</button>
        </div>
        <div class="control">
          <button  type="submit" name="addDeleteShow" value="deleteAll" class="button is-primary is-small">Delete All</button>
        </div>
        <div class="control">
        <button type="submit" name="addDeleteShow" value="show" class="button is-primary is-small" >See All</button>
        </div>

      </div>
    </form>




{% endblock %}
