{% extends "layout.html" %}
{% block title %}Select Table{% endblock %}
{% block content %}
    <h1 class="title">Select Table</h1>
    <form method="POST">
      <select name="table">
        <option value="PASSENGERS">PASSENGERS</option>
        <option value="FLIGHTS">FLIGHTS</option>
        <option value="BOOKINGS">BOOKINGS</option>
        <option value="AIRCRAFTS">AIRCRAFTS</option>
        <option value="ROUTES">ROUTES</option>
        <option value="STAFF">STAFF</option>
      </select>
      <br><br>
      <input type="submit">
    </form>





{% endblock %}
