{% extends "layout.html" %}
{% block title %}Update{% endblock %}
{% block content %}
    {% if table == 'COUNTRIES' %}


    <h1 class="title">Update a Country</h1>

    <form method="POST" type="number">
      Enter country id to update:<br>
      <input type="number" name="country_id">
      <br>
      New country name:<br>
      <input type="text" name="country_name" >
      <br><br>
      <input type="submit" value="Submit">
    </form>


    {% elif table == 'AIRCRAFTS' %}


    <h1 class="title">Update an Aircraft</h1>

    <form method="POST" type="number">
      Enter aircraft id to update:<br>
      <input type="number" name="aircraft_id">
      <br>
      New aircraft name:<br>
      <input type="text" name="aircraft_name" >
      <br><br>
      <input type="submit" value="Submit">
    </form>

    {% endif %}

{% endblock %}
