{% extends "layout.html" %}
{% block title %}Add{% endblock %}
{% block content %}
    {% if table == 'PASSENGERS' %}


    <h1 class="title">Add a Passenger</h1>

    <form method="POST" type="number">

      Country ID:<br>
      <input type="number" name="country_id" >
      <br><br>
      Passport ID:<br>
      <input type="number" name="passport_id" >
      <br><br>
      Name:<br>
      <input type="text" name="passenger_name" >
      <br><br>
      Last Name:<br>
      <input type="text" name="passenger_last_name" >
      <br><br>
      Gender:<br>
      <select name="gender">
        <option value="M">M</option>
        <option value="F">F</option>
        <option value="OTHER">OTHER</option>
      </select>
      <br><br>
      Fotograph:<br>
      <input type="file" name="fotograph" accept="image/*">
      <br><br>
      <input type="submit" value="ADD!">
    </form>


    {% elif table == 'FLIGHTS' %}


    <h1 class="title">Add a Flight</h1>

    <form method="POST" type="number">

      Route ID:<br>
      <input type="text" name="route_id" >
      <br><br>
      Departure Date:<br>
      <input type="date" name="departure_date" >
      <br><br>
      Fuel Consumption in liters:<br>
      <input type="number" placeholder="15k-150k" name="fuel_liter" >
      <br><br>
      Duration in hours:<br>
      <input type="number" name="time_hours" >
      <br><br>
      Gate Number:<br>
      <input type="number" placeholder="1-10" name="gate_number" >
      <br><br>

      <input type="submit" value="ADD!">
    </form>


    {% elif table == 'BOOKINGS' %}


    <h1 class="title">Add a Booking</h1>

    <form method="POST" type="number">

      Flight ID:<br>
      <input type="number" name="flight_id" >
      <br><br>
      Passenger ID:<br>
      <input type="number" name="passenger_id" >
      <br><br>
      Payment Type:<br>
      <select name="payment_type">
        <option value="Credit Card">Credit Card</option>
        <option value="Paypal">Paypal</option>
        <option value="Cryptocurrency">Cryptocurrency</option>
      </select>
      <br><br>
      Class of Seat:<br>
      <select name="class_of_seat">
        <option value="Budget">Budget (Fare: $100)</option>
        <option value="Economy">Economy (Fare: $200)</option>
        <option value="Business">Business (Fare: $300)</option>
        <option value="First Class">First Class (Fare: $400)</option>
      </select>
      <br><br>

      <input type="submit" value="Submit">
    </form>

    {% elif table == 'AIRCRAFTS' %}


    <h1 class="title">Add an Aircraft</h1>

    <form method="POST" type="number">

      Airline ID:<br>
      <input type="number" name="airline_id" >
      <br><br>
      Capacity:<br>
      <input type="number" placeholder="300-700" name="capacity" >
      <br><br>
      Company Name:<br>
      <input type="text" name="company_name" >
      <br><br>
      Model Name:<br>
      <input type="text" name="model_name" >
      <br><br>
      Maximum Range in km:<br>
      <input type="number" placeholder="3500-7000" name="maximum_range_km" >
      <br><br>
      Year Produced:<br>
      <input type="number" name="year_produced" >
      <br><br>

      <input type="submit" value="Submit">
    </form>


    {% elif table == 'ROUTES' %}


    <h1 class="title">Add a Route</h1>

    <form method="POST" type="number">

      Departure Airport ID:<br>
      <input type="number" name="dep_airport_id" >
      <br><br>
      Arrival Airport ID:<br>
      <input type="number" name="arr_airport_id" >
      <br><br>
      Route Name:<br>
      <input type="text" placeholder="e.g. IST-PEK" name="route_name" >
      <br><br>
      Distance in KM:<br>
      <input type="number" name="distance_km" >
      <br><br>
      Number of Airlines using this route:<br>
      <input type="number" name="number_of_airlines" >
      <br><br>
      Is intercontinental?:<br>
      <input type="text" placeholder="y or n" name="intercontinental" >
      <br><br>
      Actively used since:<br>
      <input type="text" name="active_since" >
      <br><br>
      Average altitude in feet:<br>
      <input type="text" placeholder="30000-40000" name="altitude_feet" >
      <br><br>

      <input type="submit" value="Submit">
    </form>


    {% elif table == 'STAFF' %}


    <h1 class="title">Add a Staff</h1>

    <form method="POST" type="number">

      Country ID:<br>
      <input type="number" name="country_id" >
      <br><br>
      Airline ID:<br>
      <input type="number" name="airline_id" >
      <br><br>
      Job Title:<br>
      <input type="text" name="job_title" >
      <br><br>
      Name:<br>
      <input type="text" name="staff_name" >
      <br><br>
      Last Name:<br>
      <input type="text" name="staff_last_name" >
      <br><br>
      Date of Start:<br>
      <input type="date" name="start_date" >
      <br><br>
      Gender:<br>
      <select name="gender">
        <option value="M">M</option>
        <option value="F">F</option>
        <option value="OTHER">OTHER</option>
      </select>
      <br><br>
      Fotograph:<br>
      <input type="file" name="fotograph" accept="image/*">
      <br><br>

      <input type="submit" value="Submit">
    </form>

    {% endif %}

{% endblock %}
