{% extends "layout.html" %}
{% block title %}Add country{% endblock %}
{% block content %}
    <h1 class="title">Admin Page</h1>


    <a href="/admin_page/select_table?command=add" class="button">Add</a>
    <a href="/admin_page/select_table?command=delete" class="button">Delete</a>
    <a href="/admin_page/select_table?command=update" class="button">Update</a>
    <a href="/admin_page/select_table?command=view" class="button">View Tables</a>
    <a href="/admin_page/select_table?command=sql" class="button">Input SQL command</a>




{% endblock %}
