{% extends "layout.html" %}
{% block title %}Update{% endblock %}
{% block content %}
    {% if table == 'COUNTRIES' %}

    
    <h1 class="title">Update Countries</h1>

    <form method="POST" type="number">
      Enter country ID to update:<br>
      <input type="number" name="country_id">
      <br>
      New country name:<br>
      <input type="text" name="country_name" >
      <br><br>
      <br><input type="submit" value="Submit">
    </form> 

    {% elif table == 'PASSENGERS' %}

    
    <h1 class="title">Update Passengers</h1>

    <form method="POST" type="number" enctype="multipart/form-data">
      Enter passenger ID to update:
      <input type="number" name="passenger_id">
      <br>Email:
      <input type="text" name="email" >
      <br>Country ID:
      <input type="number" name="country_id">
      <br>Name:
      <input type="text" name="name">
      <br>Middle name:
      <input type="text" name="middlename">
      <br>Surname:
      <input type="text" name="surname">
      <br>Gender:
      <input type="radio" name="gender" value="M"> Male
      <input type="radio" name="gender" value="F"> Female
      <input type="radio" name="gender" value="OTHER">Other
      <br>Passport id:
      <input type="number" name="passport_id" min="10000" max="99999">
      <br>Fotograph:
      <input type="file" name="file_data" accept="image/*">
      <br><input type="submit" value="Submit">
    </form> 

    {% elif table == 'STAFF' %}

    
    <h1 class="title">Update Staff</h1>

    <form method="POST" type="number" enctype=multipart/form-data>
      Enter staff ID to update:
      <input type="number" name="staff_id">
      <br>Country ID:
      <input type="number" name="country_id">
      <br>Airline ID:
      <input type="number" name="airline_id">
      <br>Job title:
      <input type="text" name="job_title">
      <br>Name:
      <input type="text" name="name">
      <br>Middle name:
      <input type="text" name="middlename">
      <br>Surname:
      <input type="text" name="surname">
      <br>Gender:
      <input type="radio" name="gender" value="M"> Male
      <input type="radio" name="gender" value="F"> Female
      <input type="radio" name="gender" value="OTHER">Other
      <br>Start Date:
      <input type="date" name="start_date">
      <br>Fotograph:
      <input type="file" name="file_data" accept="image/*">
      <br><input type="submit" value="Submit">

    </form> 

    {% elif table == 'FLIGHTS' %}

    
    <h1 class="title">Update Flights</h1>

    <form method="POST" type="number">
      Enter Flight ID to update:
      <input type="number" name="flight_id">
      <br>Aircraft ID:
      <input type="number" name="aircraft_id">
      <br>Route ID:
      <input type="number" name="route_id">
      <br>Departure Date:
      <input type="date" name="departure_date">
      <br>Arrival Date:
      <input type="date" name="arrival_date">
      <br>Fuel consumption in liters:
      <input type="number" name="fuel_liter">
      <br>Average altitude:
      <input type="number" name="average_altitude">
      <br>Flight duration in hours:
      <input type="number" name="time_hours">
      <br>Gate number:
      <input type="number" name="gate_number">
        
      <br><input type="submit" value="Submit">

    </form>

    {% elif table == 'BOOKINGS' %}

    
    <h1 class="title">Update Bookings</h1>

    <form method="POST" type="number">
      Enter Flight ID and Passenger ID to update:
      <br>Flight ID:
      <input type="number" name="flight_id">
      <br>Passenger ID:
      <input type="number" name="passenger_id">
      <br>Payment Type:
      <select name="payment_type">
        <option value="cash">cash</option>
        <option value="credit">credit card</option>
        <option value="check">check</option>
        <option value="other">other</option>
      </select>
      <br>Seat number:
      <input type="number" name="seat_number">
      <br>Class Type:
      <select name="class_type">
        <option value="Budget">Budget</option>
        <option value="Economy">Economy</option>
        <option value="Buisness">Buisness</option>
        <option value="Premium">Premium</option>
      </select>
      <br>Fare:
      <input type="number" name="fare" min="0">
      <br>Purchase time:
      <input type="name" name="purchase_time" palceholder="yyyy-mm-dd hh:mm:ss">
      <br><input type="submit" value="Submit">
    </form>

    {% elif table == 'AIRCRAFTS' %}

    
    <h1 class="title">Update Aircrafts</h1>

    <form method="POST" type="number">
      Enter Aircraft ID to update:
      <input type="number" name="aircraft_id">
      Airline ID:
      <input type="number" name="airline_id">
      <br>Capacity (number of passengers):
      <input type="number" name="capacity">
      <br>Company name:
            <select name="company_name">
        <option value="Airbus">Airbus</option>
        <option value="Boeing">Boeing</option>
      </select>
      <br>Model name:
      <input type="name" name="model_name">
      <br>Maximum flight range (km):
      <input type="number" name="maximum_range">
      <br>Year produced:
      <input type="number" name="year_produced">
      <br><input type="submit" value="Submit">

    </form>
    {% elif table == 'ROUTES' %}

    
    <h1 class="title">Update Routes</h1>

    <form method="POST" type="number">
      Enter Route ID to update:
      <input type="number" name="route_id">
      <br>Departure airport ID:
      <input type="number" name="dep_airport_id">
      <br>Arrival airport ID:
      <input type="number" name="arr_airport_id">
      <br>Route name:
      <input type="text" name="route_name">
      <br>Distance (km):
      <input type="number" name="distance_km">
      <br>Number of airlines:
      <input type="number" name="number_of_airlines">
      <br>Altitude (ft):
      <input type="number" name="altitude_feet">
      <br>Intercontinental (Y/N):
      <input type="number" name="intercontinental">
      <br>Active since (year):
      <input type="number" name="active_since">
      <br><input type="submit" value="Submit">
    </form>

    {% elif table == 'test' %}

    
    <h1 class="title">test</h1>

    <form method="POST" type="number">
      Enter ID to update:<br>
      <input type="number" name="id">
      <br>
      New country name:<br>
      <input type="text" name="country_name" >
      <br><br>
      <input type="submit" value="Submit">
    </form> 

    {% endif %}

{% endblock %}
