{% extends "layout.html" %}
{% block title %}Flight{% endblock %}
{% block content %}
    <h1 class="title">Flight</h1>

    <table class="table">
      <tr>
        <th>Title:</th>
        <td>{{ flight.title }}</td>
      </tr>
      {% if flight.date %}
      <tr>
        <th>Date:</th>
        <td>{{ flight.date }}</td>
      </tr>
      {% endif %}
      {% if flight.airport %}
      <tr>
        <th>Airport:</th>
        <td>{{ flight.airport }}</td>
      </tr>
      {% endif %}
    </table>
{% endblock %}